.DS_Store
/node_modules
packages/*/node_modules
apps/*/node_modules
/build
/dist
/.svelte-kit
/.turbo
.turbo
/.sqlx
crates/*/.sqlx
.vscode
/target/
.env
.env.local
.venv/
.env/
.env.\xample
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# Python
*.py[cod]
*$py.class
__pycache__/
*.so

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
media